.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled{
    color: rgb(42, 121, 121);
    cursor: not-allowed;
    border: 1px solid #944317;
    border-image-source: linear-gradient(to bottom right, #ff2fe0, #df34);
    border-image-slice: 4;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}